.popup__error {
    display: none;
    position: absolute;
    top: 57px;
    left: 0px;
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: red;
    padding: 5px 0 0;
    margin: 0;

}