.element__like {
        border: 0;
        background: url(../../../images/Vectorlike.svg) center no-repeat;
        background-size: 100%;
        cursor: pointer;
        align-self: center;
        margin-right: 20px;
        width: 22px;
        height: 19px;
        transition: transform .3s linear;
        padding: 0;
        
}
.element__like:hover {
        opacity: 0.5;
        transform: scale(1.1);
}