.element__like {
        border: none;
        background: url(../../../images/Vectorlike.svg) 50% no-repeat;
        background-color: transparent;
        cursor: pointer;
        width: 22px;
        height: 19px;
        transition: transform .3s linear;
        padding: 0;
        
}
.element__like:hover {
        opacity: 0.5;
        transform: scale(1.1);
}