.element__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 31px;
    padding-left: 22px;
    padding-right: 15px;
    
}