.popup__input-error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
    line-height: 15px;
    color: red;
    opacity: 0;
    transition: .15s;
    min-height: 15px;
}