.profile {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    padding-top: 40px;
}

@media screen and (max-width: 660px) {
    .profile {
        flex-direction: column;
        
    }
}