.profile__add-button {
    margin-left: auto;
    min-width: 150px;
    min-height: 50px;
    background: no-repeat center url(../../../images/VectoraddButton.svg);
    background-size: 22px;
    background-color: inherit;
    border: 1px solid #fff;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .5s linear;

}
.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button:focus {
  outline: none;
}

@media screen and (max-width: 660px) {
  .profile__add-button {
    margin: 36px 0 0 0;
    width: 282px;
    background-size: 16px;
  }

}