.popup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 430px;
  padding-top: 34px;
  padding-bottom: 36px;
  width: calc(100% - 38px);
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
}

@media (max-width: 660px) {
  .popup__form {
    padding-top: 27px;
    padding-bottom: 22px;

  }
}