.card__info {
    background: #FFFFFF;
    width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 31px;
    padding-left: 21px;
}